<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>thymeleaf局部刷新</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{/static/js/jquery-3.5.1.js}"></script>
</head>
<body>
    <div>
        <button onClick="getMapping()">getmapping</button>
        <div id="getMapping" th:fragment="getMapping" th:text="${name}">get</div>
        <div>
    </div>
        <div>
            <button onClick="postMapping()">postMapping</button>
            <div id="postMapping" th:fragment="postMapping" th:text="${name}">post</div>

        </div>
        <div>

            <button onClick="putMapping()">putMapping</button>
            <div id="putMapping" th:fragment="putMapping" th:text="${name}">put</div>
        </div>

        <div>
            <button onClick="deleteMapping()">deleteMapping</button>
            <div id="deleteMapping" th:fragment="deleteMapping" th:text="${name}">delete</div>

        </div>

        <div>
            <button onClick="patchMapping()">patchMapping</button>
            <div id="patchMapping" th:fragment="patchMapping" th:text="${name}">patch</div>

        </div>



</body>
<script>
    function getMapping() {
        // 装载局部刷新返回的页面
        // $('#getMapping').load("/rest/get");
        $.ajax({
            // url:"/rest/get",
            type:'GET',
            success:function (data) {
                debugger;
                $("#getMapping").html(data);
            },
            error:function (data) {
                    debugger;
            }
        })
    }

    function postMapping() {
        // 装载局部刷新返回的页面
        $('#postMapping').load("/rest/post");
    }

    function putMapping() {
        // 装载局部刷新返回的页面
        $('#putMapping').load("/rest/put");
    }

    function deleteMapping() {
        // 装载局部刷新返回的页面
        $('#deleteMapping').load("/rest/delete");
    }

    function patchMapping() {
        // 装载局部刷新返回的页面
        $('#patchMapping').load("/rest/patch");
    }
</script>
</html>